<header class="app-header">
    <mat-toolbar>
      <a routerLink="/">
        <div class="container">
                   
            <img src="assets/imagens/logo.png" class="logo-img">
            <span class="logo-text">Aquarismo Maracanaú</span>
            
        </div>
       </a>
      <div class="links-toolbar">
            <div>
                <a routerLink="/">Eventos</a>
            </div>
            <div>
                <a routerLink="/">Sobre</a>    
            </div>
      </div>
    </mat-toolbar>
  </header>
  