<header class="app-header">
    <mat-toolbar>
      <a routerLink="/">
        <div class="container">

            <img src="assets/imagens/logo.png" class="logo-img">
            <span class="logo-text">Aquarismo Maracanaú</span>

        </div>
       </a>
      <div class="links-toolbar">
        <div class="logo-container">

          <span class="logo-text">Entre em contato:</span>

          <img src="assets/icones/zap.png" class="zap-img">

      </div>

      </div>
    </mat-toolbar>
  </header>
