<div mat-dialog-content *ngIf="context === 'hobby'" class="card-busca">
  <h1 mat-dialog-title>Detalhes do Hobby</h1>
  <p><strong>{{ data.nome }}</strong></p>
  <img [src]="data.imagem" alt="{{ data.nome }}" width=100%>
  <p>{{ data.descricao }}</p>
</div>

<div mat-dialog-content *ngIf="context === 'produto'" class="card-busca">
  <h1 mat-dialog-title>Produtos</h1>
  <h1 mat-dialog-title>{{ data.nome }}</h1>
  <img [src]="data.imagem" alt="{{ data.nome }}" width=100%>
  <p>{{ data.descricao }}</p>
  <h1 mat-dialog-title>R${{ data.valor }},00</h1>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
</div>
