// figure {
//     margin: 0;
//     img {
//       max-width: 100%;
//       width: 100%;
//     }
//   }


// figure {
//   margin: 0;

//   img {
//     max-width: 100%;
//     width: 100%;
//   }
// }

.banner-container {
  width: 100%;
  overflow: hidden; // Esconde a parte que está fora da tela
  position: relative;
}

.banner-slides {
  display: flex;
  width: 100%;
  // Cada imagem ocupa 100% do espaço disponível
}

.banner-image {
  width: 100%;
  flex-shrink: 0; // Garante que cada imagem tenha largura fixa de 100%
}
