.card-busca {
  max-width: 580px;
  max-height: 410px;
  background-color: #FEF7FF;
  border-radius: 12px;
  button {
    width: 40%;
    margin-left: 48px;
    background-color: green;
    border-radius: 12px;
    align-self: end;
  }

  img {
    height: 250px;
    width: 580px;
  }


  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 12px;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: #1D1B20;
      text-align: center;
    }
  }
  .mat-mdc-card-actions{
    justify-content: flex-end;
  }
}

/* Estilos para telas com largura máxima de 428px (smartphones) */
@media (max-width: 428px) {
  .card-busca {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 200px;
    background-color: #FEF7FF;
    border-radius: 12px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    button {
      height: 20px;
      width: 50%;
      font-size: 12px;
      background-color: green;
      border-radius: 4px;
    }

    img{
      width: 160px;
      height: 120px;
      // margin-bottom: 12px;
    }

    .mat-mdc-card-content{

      padding: 0;
      height: 15px;
    }

    ul {

      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 12px;
        color: #1D1B20;
        text-align: center;
      }
    }
  }

  .mdc-button__label{
    width: 100px;
  }

  .mat-mdc-card-actions{
    height: 40px;
  }

}

