<section class="homepage">
  <app-banner src="assets/imagens/banner-homepage.svg" alt="Banner da aplicação Jornada"></app-banner>

  <app-container>
    <h2>QUEM SOMOS</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at nisi at lorem aliquam gravida. Ut at viverra
      lacus. Mauris aliquet vehicula sapien, ac faucibus lectus maximus in. Curabitur volutpat lacus ut nunc suscipit,
      sit amet facilisis nisi pulvinar. Suspendisse potenti. Aliquam a eros venenatis, consequat arcu at, scelerisque
      tortor. Fusce ac sem sapien. Duis at consectetur felis, ac consequat ex. Integer ornare pharetra risus, sed
      molestie odio sodales non. Vestibulum dictum sapien nec tortor vehicula, vel suscipit odio lacinia. Cras tempor
      tortor a turpis congue, vitae gravida magna fermentum.</h3>
  </app-container>

  <app-container>
    <h2>NOSSO HOBBY</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at nisi at lorem aliquam gravida. Ut at viverra
      lacus. Mauris aliquet vehicula sapien, ac faucibus lectus maximus in. Curabitur volutpat lacus ut nunc suscipit,
      sit amet facilisis nisi pulvinar. Suspendisse potenti. Aliquam a eros venenatis, consequat arcu at, scelerisque
      tortor. Fusce ac sem sapien. Duis at consectetur felis, ac consequat ex. Integer ornare pharetra risus, sed
      molestie odio sodales non. Vestibulum dictum sapien nec tortor vehicula, vel suscipit odio lacinia. Cras tempor
      tortor a turpis congue, vitae gravida magna fermentum.</h3>
    <app-grid></app-grid>
  </app-container>

  <app-container>
    <h2>PRODUTOS OFICIAIS</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at nisi at lorem aliquam gravida. Ut at viverra
      lacus. Mauris aliquet vehicula sapien, ac faucibus lectus maximus in. Curabitur volutpat lacus ut nunc suscipit,
      sit amet facilisis nisi pulvinar. Suspendisse potenti. Aliquam a eros venenatis, consequat arcu at, scelerisque
      tortor. Fusce ac sem sapien. Duis at consectetur felis, ac consequat ex. Integer ornare pharetra risus, sed
      molestie odio sodales non. Vestibulum dictum sapien nec tortor vehicula, vel suscipit odio lacinia. Cras tempor
      tortor a turpis congue, vitae gravida magna fermentum.</h3>


    <app-produtos></app-produtos>
  </app-container>

  <app-container>
    <h2>PARCEIROS</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at nisi at lorem aliquam gravida. Ut at viverra
      lacus. Mauris aliquet vehicula sapien, ac faucibus lectus maximus in. Curabitur volutpat lacus ut nunc suscipit,
      sit amet facilisis nisi pulvinar. Suspendisse potenti. Aliquam a eros venenatis, consequat arcu at, scelerisque
      tortor. Fusce ac sem sapien. Duis at consectetur felis, ac consequat ex. Integer ornare pharetra risus, sed
      molestie odio sodales non. Vestibulum dictum sapien nec tortor vehicula, vel suscipit odio lacinia. Cras tempor
      tortor a turpis congue, vitae gravida magna fermentum.</h3>

  </app-container>

  <!-- <section class="card-parceiros">
    <app-parceiros href="https://poytara.com/site-fora-do-ar.html" src= 'assets/parceiros/poytara.png'  ></app-parceiros>
    <app-parceiros href="https://www.deltafish.com.br/" src= 'assets/parceiros/delta.png' ></app-parceiros>
    <app-parceiros href="https://nutricon.ind.br/" src=  'assets/parceiros/nutri.png' ></app-parceiros>
  </section> -->


  <app-container>
    <app-carousel></app-carousel>
  </app-container>

  <app-container>
    <h2>EVENTOS</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at nisi at lorem aliquam gravida. Ut at viverra
      lacus. Mauris aliquet vehicula sapien, ac faucibus lectus maximus in. Curabitur volutpat lacus ut nunc suscipit,
      sit amet facilisis nisi pulvinar. Suspendisse potenti. Aliquam a eros venenatis, consequat arcu at, scelerisque
      tortor. Fusce ac sem sapien. Duis at consectetur felis, ac consequat ex. Integer ornare pharetra risus, sed
      molestie odio sodales non. Vestibulum dictum sapien nec tortor vehicula, vel suscipit odio lacinia. Cras tempor
      tortor a turpis congue, vitae gravida magna fermentum.</h3>

      <app-gallery [fotos]="fotos"></app-gallery>

  </app-container>

  <app-container>
    <h2>GALERIA</h2>
    <app-gallery [fotos]="fotos2"></app-gallery>
  </app-container>


  <app-banner src="assets/imagens/banner-footer.png" alt="Banner da aplicação Aquarismo"></app-banner>


</section>
