

  /* Estilos para telas com largura máxima de 1440px */

  .homepage {
    .card-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 16px;
      margin-bottom: 40px;
    }

    h1 {
      font-size: 48px;
      font-family: 'Montserrat';
      font-weight: 500;
    }

    h2 {
      font-size: 36px;
      font-family: 'Montserrat';
      font-weight: 500;
    }
    h3 {
      font-size: 28px;
      font-family: 'Montserrat';
      margin-bottom: 40px;
    }

    p {
      font-size: 20px;
      font-family: 'Montserrat';
      line-height: 150%;
    }

    strong {

      font-family: 'Montserrat';

    }

  }


/* Estilos para telas com largura máxima de 428px (smartphones) */
@media (max-width: 428px) {
  .homepage {
    .card-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 16px;
      margin-bottom: 40px;
    }

    h1 {
      font-size: 20px;
      font-family: 'Montserrat';
      font-weight: 500;
    }

    h2 {
      font-size: 18px;
      font-family: 'Montserrat';
      font-weight: 500;
    }
    h3 {
      font-size: 14px;
      font-family: 'Montserrat';
      margin-bottom: 20px;
      line-height: 130%;
    }

    p {
      font-size: 12px;
      font-family: 'Montserrat';
      line-height: 130%;
    }

  }
}
