<section class="homepage">
  <!-- <app-banner src="assets/imagens/banner.svg" alt="Banner da aplicação Jornada"></app-banner> -->
  <app-banner [images]="bannerImages"></app-banner>




  <app-container>
    <h1>QUEM SOMOS</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at nisi at lorem aliquam gravida. Ut at viverra
      lacus. Mauris aliquet vehicula sapien, ac faucibus lectus maximus in. Curabitur volutpat lacus ut nunc suscipit,
      sit amet facilisis nisi pulvinar. Suspendisse potenti. Aliquam a eros venenatis, consequat arcu at, scelerisque
      tortor. Fusce ac sem sapien. Duis at consectetur felis, ac consequat ex. Integer ornare pharetra risus, sed
      molestie odio sodales non. Vestibulum dictum sapien nec tortor vehicula, vel suscipit odio lacinia. Cras tempor
      tortor a turpis congue, vitae gravida magna fermentum.</h3>


    </app-container>

  <app-container>

    <h1>NOSSO HOBBY</h1>

    <h3>O aquarismo é um hobby que envolve a criação e manutenção de aquários, proporcionando um ambiente adequado para peixes, plantas aquáticas e outros organismos aquáticos. Este passatempo não só oferece uma experiência relaxante e educativa, mas também permite aos entusiastas explorar a beleza e a diversidade da vida subaquática.</h3>

    <h3><strong>História do Aquarismo:</strong> A prática do aquarismo remonta a civilizações antigas, como os sumérios e os romanos, que mantinham peixes ornamentais em recipientes. No entanto, o aquarismo moderno começou a ganhar popularidade no século XIX, com o desenvolvimento de aquários de vidro e a descoberta de métodos para manter a água limpa e oxigenada. Sendo o peixe dourado (Carassius auratus) foi um dos primeiros peixes a serem domesticados para fins ornamentais.</h3>

    <h3><strong>Produtos e Equipamentos:</strong> Para manter um aquário saudável, é necessário investir em alguns equipamentos essenciais, como filtros, aquecedores, sistemas de iluminação e bombas de ar. Além disso, existem diversos produtos no mercado, como rações específicas, condicionadores de água e testes de qualidade da água, que ajudam a garantir o bem-estar dos habitantes do aquário.</h3>

    <h3><strong>Animais e Plantas:</strong> O aquarismo oferece uma vasta gama de opções de peixes e plantas aquáticas. Desde os coloridos peixes tropicais, como os bettas e os guppies, até os majestosos peixes de água salgada, como os peixes-palhaço e os tangs. As plantas aquáticas, como as anúbias e as cabombas, também desempenham um papel crucial na manutenção do equilíbrio do ecossistema do aquário.</h3>

    <h3><strong>Tipos de Aquários:</strong> Existem diversos tipos de aquários, cada um com suas características e desafios específicos. Os aquários de água doce são os mais comuns e fáceis de manter, enquanto os aquários de água salgada exigem um cuidado mais especializado. Além disso, há os aquários plantados, que focam na criação de um ambiente rico em plantas aquáticas, e os aquários de recife, que replicam os ecossistemas de corais.</h3>

    <h3><strong>Algumas modalidades de aquarismo:</strong></h3>

    <app-grid></app-grid>


    <h3>O aquarismo é um hobby que pode ser apreciado por pessoas de todas as idades, oferecendo uma oportunidade única de se conectar com a natureza e aprender mais sobre a vida aquática. Com paciência e dedicação, qualquer pessoa pode criar um aquário deslumbrante e saudável. Alguns aquaristas conseguem até mesmo criar verdadeiros ecossistemas em miniatura, onde plantas e animais coexistem em harmonia, sem a necessidade de muita intervenção humana.</h3>

  </app-container>

  <app-container>
    <h1>PRODUTOS OFICIAIS</h1>
    <h3>  Apoie a comunidade do Grupo Aquarismo Maracanaú e faça parte desta jornada! Oferecemos produtos oficiais, como camisas exclusivas, para que você possa mostrar seu amor pelo aquarismo enquanto contribui para algo maior. A venda dessas camisas ajuda a custear serviços essenciais e a promover o nosso Hobby. Vista a sua paixão, apoie a nossa causa e demonstre que você é parte ativa da maior comunidade de aquarismo do Ceará. Para adiquirir o seu produto oficial, entre em contato com a admnistração pelo <a href="https://chat.whatsapp.com/HUrPAqhqCTb9N7eXDLeG2E">WhatsApp</a> e verifique a disponibilidade. Fique atento às novidades e lançamentos exclusivos também no <a href="https://www.instagram.com/reel/CgPByPng46r/?igshid=YmMyMTA2M2Y%3D">Instagram</a> e Comunidade Aquarismo Maracanaú!
    </h3>


    <app-produtos></app-produtos>
  </app-container>

  <app-container>
    <h1>PARCEIROS</h1>
    <h3> A comunidade Aquarismo Maracanaú recebe o apoio de inúmeros(as) empresas, criadores, marcas, hobistas, piscicultores e criadores de conteúdo. Abaixo estão alguns apoiadores, clique no baner para saber mais:</h3>

  </app-container>

  <!-- <section class="card-parceiros">
    <app-parceiros href="https://poytara.com/site-fora-do-ar.html" src= 'assets/parceiros/poytara.png'  ></app-parceiros>
    <app-parceiros href="https://www.deltafish.com.br/" src= 'assets/parceiros/delta.png' ></app-parceiros>
    <app-parceiros href="https://nutricon.ind.br/" src=  'assets/parceiros/nutri.png' ></app-parceiros>
  </section> -->


  <app-container>
    <app-carousel></app-carousel>

  <h3>À todos os apoiadores, gostariamos de expressar nossa profunda gratidão!</h3>

  <h3>Quer se juntar à nossa comunidade de apoiadores? Entre em contato com a administração pelo <a href="https://chat.whatsapp.com/HUrPAqhqCTb9N7eXDLeG2E">WhatsApp</a>.</h3>

  </app-container>

  <app-container>
    <h1>EVENTOS</h1>

    <h2>VI Encontro de Aquaristas e Lojistas do Grupo Aquarismo Maracanaú</h2>

    <h3>
      O VI Encontro de Aquaristas e Lojistas do Grupo Aquarismo Maracanaú acontecerá no dia 08 de dezembro de 2024, no <a href="https://cavepark.com.br/">Cave Park</a>. Este evento reunirá entusiastas do aquarismo de todo o Ceará, com uma programação que inclui palestras de especialistas como <a href="https://www.instagram.com/tv/CkdlGs1LlZD/?igsh=NjE5cDJoaXU5NHRi">Sanjay Veiga</a> e <a href="https://www.instagram.com/aquarismosemmisterio/profilecard/?igsh=MWVlaXgxZjBqcHRleg==">Marcos Alvarenga</a>, sorteios de prêmios, e novidades sobre o aquarismo. Haverá também lançamentos de novos produtos, apresentação de técnicas inovadoras de cuidado com peixes e uma discussão sobre os desafios e oportunidades do aquarismo no estado. Não perca essa oportunidade de se conectar com a maior comunidade de aquarismo do Ceará!
    </h3>


    <h3><strong>Registro:</strong></h3>
    <h3>O evento contará com a presença de participantes de vários locais do estado, incluindo membros do grupo Aquarismo Maracanaú, familiares e convidados especiais. Os registros do evento foram compartilhados nas redes sociais e no nosso grupo de <a href="https://chat.whatsapp.com/HUrPAqhqCTb9N7eXDLeG2E">WhatsApp</a>.</h3>


      <app-gallery [fotos]="fotos"></app-gallery>

  </app-container>

  <app-container>
    <h1>GALERIA</h1>
    <h3>Fique à vontade para compartilhar fotos de seus aquários, animais, layouts, etc em nossas redes sociais. Algumas fotos serão exibidas em nossa página oficial!</h3>
    <app-gallery [fotos]="fotos2"></app-gallery>
  </app-container>


  <app-banner src="assets/imagens/banner-footer.png" alt="Banner da aplicação Aquarismo"></app-banner>


</section>
