:host {
  display: block;
  margin: 0 auto;
  max-width: 1300px;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 10px;
}

@media (max-width: 428px) {
  :host {
    display: block;
    margin: 0 auto;
    max-width: 428px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    .ng-content{
      max-width: 428px;
    }
  }
}
