/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Dots&display=swap');


html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #C9DC6A;

}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
    margin-bottom: 40px;
}

.card-parceiros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 32px;
    margin-bottom: 40px;
}

.mat-mdc-dialog-surface{
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  outline: 0;
  transform: scale(0.8);
  transition: transform var(--mat-dialog-transition-duration, 0ms) cubic-bezier(0, 0, 0.2, 1);
  max-height: inherit;
  min-height: inherit;
  min-width: inherit;
  max-width: inherit;
  box-shadow: var(--mat-dialog-container-elevation-shadow, 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12));
  border-radius: var(--mdc-dialog-container-shape, var(--mat-app-corner-extra-large, 4px));
  background-color: var(--mdc-dialog-container-color, var(--mat-app-surface, white));
  justify-content: center;

  }
@media (max-width: 428px) {
  html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #C9DC6A;

}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 16px;
  margin-bottom: 40px;
}


}
