<footer class="app-footer">
  <app-container class="container">
    <div class="inner">
      <img src="assets/imagens/logo.png" class="logo-img">
      <ul>
        <li>
          Aquarismo Maracanaú Homepage
        </li>
        <li>
          Desenvolvido por Carlos Aquino. Projeto fictício sem fins comerciais
        </li>
      </ul>
    </div>


    <div class="inner">
      <ul class="socials">
        <li>Acesse nossas redes:</li>
        <li>
          <!-- Botão WhatsApp -->
          <a href="https://chat.whatsapp.com/HUrPAqhqCTb9N7eXDLeG2E" target="_blank" rel="noopener noreferrer">
            <button mat-icon-button>
              <img src="assets/icones/wp.png" alt="Ícone do whatsapp">
            </button>
          </a>

          <!-- Botão Instagram -->
          <a href="https://www.instagram.com/reel/CgPByPng46r/?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener noreferrer">
            <button mat-icon-button>
              <img src="assets/icones/insta.png" alt="Ícone do instagram">
            </button>
          </a>

          <!-- Botão TikTok -->
          <a href="https://www.tiktok.com/@aquarismomaracanau?_t=8U9DTibCoCc&_r=1" target="_blank" rel="noopener noreferrer">
            <button mat-icon-button>
              <img src="assets/icones/tt.png" alt="Ícone do twitter">
            </button>
          </a>

          <!-- Botão YT -->
          <a href="https://youtube.com/channel/UCB4YmReNJm5diNQL6_5eeyg" target="_blank" rel="noopener noreferrer">
            <button mat-icon-button>
              <img src="assets/icones/yt.png" alt="Ícone do twitter">
            </button>
          </a>

        </li>
      </ul>
    </div>
  </app-container>
</footer>
